<div class="mv-list" *ngIf="items.length > 0; else noItems">
  <div class="mv-row"
    *ngFor="let item of items; let i = index; trackBy: trackById"
    [class.is-deposit]="item.type === 'deposit'"
    [style.animation-delay]="(0.05 * i) + 's'"
    (mousedown)="startHold(item)"
    (mouseup)="endHold()" (mouseleave)="endHold()"
    (touchstart)="startHold(item)"
    (touchend)="endHold()" (touchcancel)="endHold()">
    <div class="mv-icon" [class.has-reaction]="item.reaction" [class.is-deposit-icon]="item.type === 'deposit'">
      <span *ngIf="item.reaction; else defaultIcon" class="emoji-bounce">{{ item.reaction }}</span>
      <ng-template #defaultIcon>
        <ion-icon [name]="item.type === 'deposit' ? 'trending-up-outline' : 'receipt-outline'"></ion-icon>
      </ng-template>
    </div>
    <div class="mv-info">
      <p class="store-name">{{ item.storeName }}</p>
      <small class="meta">
        <span class="meta-chip">•••• {{ item.sourceLast4 }}</span>
        <span class="meta-dot">·</span>
        {{ item.timestamp | date:'dd MMM, HH:mm' }}
      </small>
    </div>
    <div class="mv-amount">
      <span class="amt" [class.income]="item.type === 'deposit'">
        {{ item.type === 'deposit' ? '+' : '-' }}${{ item.chargedAmount | number:'1.0-0' }}
      </span>
      <span class="tag">COP</span>
    </div>
  </div>
</div>
<ng-template #noItems>
  <div class="mv-empty">
    <div class="empty-icon-wrap">
      <ion-icon name="cloud-offline-outline"></ion-icon>
      <div class="empty-ring"></div>
    </div>
    <p>Sin movimientos</p>
    <span class="empty-sub">Tus pagos aparecerán aquí</span>
  </div>
</ng-template>
