<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Simular Ingreso</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="sim-hint">
    <ion-icon name="trending-up-outline"></ion-icon>
    Simula que recibes dinero en tu tarjeta (ideal para pruebas)
  </p>

  <form [formGroup]="form">
    <ion-list lines="none">
      <ion-item>
        <ion-select
          label="Tarjeta destino"
          labelPlacement="stacked"
          placeholder="Selecciona una tarjeta"
          formControlName="cardId">
          <ion-select-option *ngFor="let c of availableCards$ | async" [value]="c.id">
            {{ c.network | uppercase }} •••• {{ c.lastDigits }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input
          label="Concepto"
          labelPlacement="stacked"
          placeholder="Ej: Nómina"
          formControlName="concept">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="number"
          label="Monto a acreditar (COP)"
          labelPlacement="stacked"
          placeholder="50000"
          formControlName="depositAmount">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" fill="outline" (click)="randomize()" class="ion-margin-top">
      <ion-icon name="shuffle-outline" slot="start"></ion-icon>
      Aleatorio
    </ion-button>

    <ion-button expand="block" (click)="confirm()" class="ion-margin-top" [disabled]="processing">
      <ion-spinner *ngIf="processing" name="crescent" slot="start"></ion-spinner>
      <ion-icon *ngIf="!processing" name="trending-up-outline" slot="start"></ion-icon>
      Acreditar dinero
    </ion-button>
  </form>
</ion-content>
